footer {
    bottom: 0;
    background: #fff;
    background: rgba(255,255,255,0.9);
    /* body uses margin-bottom 4.25rem */
    min-height: 3rem;
    position: absolute;
    width: 100%;
    /* center vertically */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
    footer ul {
      /* remove default */
      margin: 0;
    }
  