<div class="card">
  <div class="card-header">
    <h2 class="card-title">
      <a [routerLink]="['/apps/blog/entry', post.slug]">
        {{post.title}}
      </a>
    </h2>
    <p class="card-subtitle">
      Posted
      @if (post.author) {
        by
        <a [routerLink]="['/apps/profile', post.author.username]">{{post.author.name}}</a>
      }
      on
      <app-date [datetime]="post.datePublished" />
    </p>
  </div>
  <div class="card-body">
    <p>{{post.contentPreview}}</p>
    <p>
      <a class="btn btn-secondary" role="button" [routerLink]="['/apps/blog/entry', post.slug]">
        Read Full Post &raquo;
      </a>
    </p>
  </div>
  <div class="card-footer">
    @for (cat of post.categories; track cat.slug) {
      <span class="me-2">{{cat.name}}</span>
    }
  </div>
</div>
