<div class="card">
  <div class="card-body">
    <h1 class="card-title">Leadership</h1>
    <div class="row">
      <div class="col-sm" *ngIf="officers">
        <h2>Officers</h2>
        <dl>
          <ng-template ngFor let-officer [ngForOf]="officers">
            <dt>{{officer.title}}</dt>
            <dd>{{officer.name}}</dd>
          </ng-template>
        </dl>
      </div>
      <div class="col-sm" *ngIf="directors">
        <h2>Directors</h2>
        <ul class="list-unstyled">
          <li *ngFor="let director of directors">
            {{director.name}} ({{director.year}})
          </li>
        </ul>
      </div>
      <div *ngFor="let e of errors" class="alert alert-danger" role="alert">
        {{e}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">By-laws</h1>
    <iframe src="https://drive.google.com/file/d/11s1RHMoIfVjBQrpAXXn5Qh6ZwH_Bejw_/preview" width="640"
      height="800"></iframe>
  </div>
</div>
