<div class="card">
  <div class="card-body">

    <h1 class="card-title">Contact Us</h1>

    @for (error of errors(); track error) {
      <alert type="danger" [dismissible]="true" (onClose)="removeError(error.id)">
        There was an error submitting your message. {{error.msg}}
        <hr>
        <p class="small text-muted mb-0">
          Please <a [routerLink]="['/about/this-site']">email the webmaster</a> if this keeps happening.
        </p>
      </alert>
    }

    @if (isSubmitted() && !isAccepted()) {
      <div class="progress" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100"></div>
      </div>
    }

    @if (!isSubmitted()) {
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" ngNativeValidate>

        <div class="mb-3">
          <label for="inputName" class="form-label">Name</label>
          <input type="text" class="form-control" id="inputName" placeholder="Name" name="name" formControlName="name">
        </div>

        <div class="mb-3">
          <label for="inputEmail" class="form-label">Email</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
            formControlName="emailAddress" required>
        </div>

        <div class="mb-3">
          <label for="inputMessage" class="form-label">Message</label>
          <textarea id="inputMessage" class="form-control" rows="3" placeholder="Message" name="message"
            formControlName="message"></textarea>
        </div>

        <div class="d-none">
          <label for="body" class="form-label">Please leave this secion blank</label>
          <input type="text" id="body" name="body" formControlName="body" value="" aria-hidden="true">
        </div>

        <button type="submit" class="btn btn-primary" name="submit">Submit</button>

        <p class="form-text">We will try to respond as soon as possible.</p>

      </form>
    }

    @if (isAccepted()) {
      <div>
        <p class="card-subtitle">Thank you for your message.</p>
        <a [routerLink]="['/']" class="card-link">&laquo; Back Home</a>
      </div>
    }
  </div>
</div>
