<div class="card bg-base-100">
  <div class="card-body">

    <h1 #contactUsHeader>Contact Us</h1>

    @for (error of errors(); track error) {
      <div class="alert alert-error" role="alert">
        <i class="bi bi-exclamation-triangle text-xl"></i>
        <div>
          There was an error submitting your message. {{error.msg}}
          <hr class="my-1">
          <span class="opacity-70">
            Please <a class="link" [routerLink]="['/about/this-site']">email the webmaster</a> if this keeps happening.
          </span>
        </div>
        <button
          type="button"
          class="btn btn-square text-3xl btn-ghost"
          aria-label="Close"
          (click)="removeError(error.id)"
        >
          <i class="bi bi-x" aria-hidden="true"></i>
        </button>
      </div>
    }

    @if (isSubmitted() && !isAccepted()) {
      <progress class="progress"></progress>
    }

    @if (!isSubmitted()) {
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()" ngNativeValidate class="flex flex-col gap-3">

        <fieldset class="fieldset">
          <label for="inputName" class="label">Name</label>
          <input type="text" class="input" id="inputName" placeholder="Name" name="name" formControlName="name">
        </fieldset>

        <fieldset class="fieldset">
          <label for="inputEmail" class="label">Email</label>
          <input type="email" class="input" id="inputEmail" placeholder="Email" name="email"
            formControlName="emailAddress" required>
        </fieldset>

        <fieldset class="fieldset">
          <label for="inputMessage" class="label">Message</label>
          <textarea id="inputMessage" class="textarea" rows="3" placeholder="Message" name="message"
            formControlName="message"></textarea>
        </fieldset>

        <div class="hidden">
          <label for="body">Please leave this secion blank</label>
          <input type="text" id="body" name="body" formControlName="body" value="" aria-hidden="true">
        </div>

        <div>
          <button type="submit" class="btn btn-primary" name="submit">Submit</button>
        </div>

        <p class="opacity-70">We will try to respond as soon as possible.</p>

      </form>
    }

    @if (isAccepted()) {
      <div>
        <p data-testid="ContactForm-ThankYou">Thank you for your message.</p>
        <a [routerLink]="['/']" class="link link-primary">
          <i class="bi bi-arrow-left"></i>
          Back Home
        </a>
      </div>
    }
  </div>
</div>
