<div class="card" *ngIf="album">
  <div class="card-header">
    <div class="text-center row">
      <div class="col-2">
        <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', album.slug, 'photo', previousPhotoId]">&laquo; Previous</a>
      </div>
      <div class="col-8">
        <a [routerLink]="['/apps/photos/album', album.slug]">{{album.name}}</a>
      </div>
      <div class="col-2">
        <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', album.slug, 'photo', nextPhotoId]">Next &raquo;</a>
      </div>
    </div>
  </div>

  <img *ngIf="currentPhoto" src="{{currentPhoto.imagePath}}" class="card-img-top" alt="image failed to load">

  <div *ngIf="currentPhoto" class="card-body">
    <h1 class="card-title">
      {{currentPhoto.name}}
    </h1>
    <p class="card-subtitle">{{currentPhoto.datePosted}}</p>
  </div>

  <div class="card-footer">
    <div class="text-center row">
      <div class="col-2">
        <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', album.slug, 'photo', previousPhotoId]">&laquo; Previous</a>
      </div>
      <div class="col-8">
        <a [routerLink]="['/apps/photos/album', album.slug]">{{album.name}}</a>
      </div>
      <div class="col-2">
        <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', album.slug, 'photo', nextPhotoId]">Next &raquo;</a>
      </div>
    </div>
  </div>
</div>

<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
