<div class="card">
  <div class="card-body">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Posts" aria-label="Search Posts" name="search" [(ngModel)]="searchText">
        <button type="submit" class="btn btn-secondary" aria-label="Search" (click)="onSearch(searchText)">
          <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          Search
        </button>
      </div>
    </form>
  </div>
</div>

<ng-container *ngIf="postsVm$ | async as postsVm">

  <alert *ngIf="postsVm.error" type="danger">
    {{postsVm.error}}
  </alert>

  <app-post-card *ngFor="let post of postsVm.posts | sortBy: 'desc' : 'datePublished'; trackBy: trackPostPreview" [post]="post" [attr.data-testid]="post.slug"></app-post-card>

</ng-container>
