<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading profile...</span>
  </div>
</div>

<ng-container *ngIf="vm$ | async as vm">
  <div class="card" *ngIf="vm.author">
    <div class="card-body">
      <h1 class="card-title">
        {{vm.author.username}}
      </h1>
      <h2>Blog posts by this user</h2>
    </div>
  </div>

  <app-post-card *ngFor="let post of vm.posts" [post]="post"></app-post-card>
</ng-container>

<alert *ngIf="error" type="danger">
  {{error}}
</alert>
