<ng-container *ngIf="vm$ | async as vm">

  <div *ngIf="vm.isLoading" class="d-flex justify-content-center">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading profile...</span>
    </div>
  </div>

  <alert *ngIf="vm.error" type="danger">
    {{vm.error}}
  </alert>

  <div class="card" *ngIf="vm.author">
    <div class="card-body">
      <h1 class="card-title">
        {{vm.author.username}}
      </h1>
      <h2>Blog posts by this user</h2>
    </div>
  </div>

  <app-post-card *ngFor="let post of vm.posts" [post]="post" />

</ng-container>
