@if (vm$ | async; as vm) {
  <div class="card bg-base-100">

    <div class="card-body">
      <h1>Edit Entry</h1>

      @if (vm.error) {
        <div class="alert alert-error" role="alert">{{vm.error}}</div>
      }

      @if (vm.isLoading) {
        <progress class="progress"></progress>
      }

      @if (!vm.isLoading && !vm.error && vm.post) {
        <app-edit-blog-entry-form (publish)="onPublish(vm.post.slug, $event)"
          [initialPost]="vm.post" [allCategories]="vm.categories" [currentAuthor]="vm.currentAuthor" />
      }
    </div>

    @if (vm.post) {
      <hr>
      <div class="card-body block">
        Last Modified: <app-date [datetime]="vm.post.dateLastModified" />
      </div>
    }

  </div>
}
