<div class="card">
    <h1 class="card-header">The City Hall Museum</h1>
    <div class="card-body">
        <div class="row">
            <div class="col-lg">
                <img src="/assets/img/2017/oldcityhall.jpg" alt="city hall" class="img-fluid">
            </div>
            <div class="col-lg">
                <address>
                    512 Main Street<br>
                    Belton, Missouri 64012
                </address>
                <p>Hours of operation:<br>
                Tuesdays and Thursdays from <time datetime="13:00">1:00pm</time>&#8211;<time datetime="16:00">4:00pm</time><br>
                Saturday from <time datetime="10:00">10:00am</time>&#8211;<time datetime="13:00">1:00pm</time><br>
                Open <time>March</time> through <time>December</time></p>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <h2 class="card-header">Map</h2>
    <div class="card-body">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3108.9494231284616!2d-94.53322138434861!3d38.81071215965356!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x87c0db7b546ca8a3%3A0x4d96d3e0b578f14a!2sBelton+Museum!5e0!3m2!1sen!2sus!4v1503459942193" class="embed-responsive-item"></iframe>
        </div>
    </div>
</div>