@if (vm$ | async; as vm) {
    @if (vm.isLoading) {
      <div class="card bg-base-100">
        <div class="card-body skeleton" role="status">
          <span class="hidden">Loading photo...</span>
        </div>
      </div>
    }

    @if (vm.album) {
      <div class="card bg-base-100/90">
        <div class="card-body">
          <div class="text-center flex items-center">
            <div class="flex-2">
              <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.previousPhotoId]">&laquo; Previous</a>
            </div>
            <div class="flex-8">
              Album: <a class="link link-primary" [routerLink]="['/apps/photos/album', vm.album.slug]">{{vm.album.name}}</a>
              @if (vm.album.blogPostSlug) {
                <br>
                <a class="link link-primary" [routerLink]="['/apps/blog/entry', vm.album.blogPostSlug]">Blog Post</a>
              }
            </div>
            <div class="flex-2">
              <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.nextPhotoId]">Next &raquo;</a>
            </div>
          </div>
        </div>
        <hr>

        @if (vm.currentPhoto) {
          <div class="relative min-h-64 md:min-h-96">
            <img [ngSrc]="vm.currentPhoto.imagePath" [title]="vm.currentPhoto.name" alt="image failed to load" class="object-contain" fill>
          </div>
        }

        @if (vm.currentPhoto && (vm.currentPhoto.name || vm.currentPhoto.description)) {
          <hr>
          <div class="card-body">
            <h2>
              {{vm.currentPhoto.name}}
            </h2>
            @if (vm.currentPhoto.description) {
              <p>{{vm.currentPhoto.description}}</p>
            }
          </div>
        }

        <hr>
        <div class="card-body">
          <div class="text-center flex items-center">
            <div class="flex-2">
              <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.previousPhotoId]">&laquo; Previous</a>
            </div>
            <div class="flex-8">
              <a class="link link-primary" [routerLink]="['/apps/photos/album', vm.album.slug]">{{vm.album.name}}</a>
            </div>
            <div class="flex-2">
              <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.nextPhotoId]">Next &raquo;</a>
            </div>
          </div>
        </div>
      </div>
    }

    @if (vm.error) {
      <div class="alert alert-error" role="alert">
        {{vm.error}}
      </div>
    }
}
