<div class="card bg-base-100 mb-5" [attr.data-testid]="post().slug">
  <div class="card-body">
    <h2 [attr.data-testid]="`${post().slug}-Title`">
      <a class="link link-primary link-hover" [routerLink]="['/apps/blog/entry', post().slug]">
        {{post().title}}
      </a>
    </h2>
    <p class="text-sm" [attr.data-testid]="`${post().slug}-Posted`">
      Posted
      @let author = post().author;
      @if (author) {
        by
        <a class="link link-primary link-hover" [routerLink]="['/apps/profile', author.username]">{{author.name}}</a>
      }
      on
      <app-date [datetime]="post().datePublished" />
    </p>
  </div>
  <hr>
  <div class="card-body">
    <p [attr.data-testid]="`${post().slug}-ContentPreview`">
      {{post().contentPreview}}
    </p>
    <p>
      <a class="btn btn-secondary" role="button" [routerLink]="['/apps/blog/entry', post().slug]">
        Read Full Post
        <i class="bi bi-chevron-double-right"></i>
      </a>
    </p>
  </div>
  <hr>
  <div class="card-body">
    <div class="card-actions">
      @for (cat of post().categories; track cat.slug) {
        <span>{{cat.name}}</span>
      }
    </div>
  </div>
</div>
