@if (vm$ | async; as vm) {
  <div class="card bg-base-100">

    <div class="card-body">
      <h1>New Entry</h1>

      @if (vm.error) {
        <div class="alert alert-error" role="alert">{{vm.error}}</div>
      }

      @if (vm.isLoading) {
        <progress class="progress"></progress>
      }

      @if (!vm.isLoading && !vm.error) {
        <app-edit-blog-entry-form (publish)="onPublish($event)"
          [allCategories]="vm.allCategories" [currentAuthor]="vm.currentAuthor" />
      }
    </div>

  </div>
}
