<div class="card">
    <h1 class="card-header">About this Site</h1>
    <div class="card-body">
        <p>
            Created by a now-graduated Belton High School student, this site was built in July of 2011 using Freewebs.
            It was rebuilt with Bootstrap/PHP/MariaDB in the Summer of 2017.
            It was again rebuilt with Angular/ASP.NET Core/SQL Server in 2020&ndash;2021.
        </p>
        <p>
            The webmaster can be contacted at the following email:
        </p>
        <address>email not available</address><!--TODO: Render email address as image so robots don't scrape it. -->
    </div>
</div>
