<div class="card mb-5 bg-base-100">
  <div class="card-body">
    <p>
      If you're interested in joining the Belton Historical Society,
      fill out <a class="link link-primary" href="/assets/pdf/belton-historical-society-application.pdf">this form</a>
      and mail it to the provided address.
    </p>
  </div>
</div>

<div class="flex flex-wrap gap-5">
  <div class="flex-1">
    <app-contact-form />
  </div>
  <div class="flex-1">
    <div class="card bg-base-100">
      <div class="card-body">
        <h1>Visit us on Facebook!</h1>
        <!-- eslint-disable-next-line @angular-eslint/template/no-inline-styles -->
        <div style="height: 500px; width:340px;">
          <iframe
            class="h-full w-full"
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBeltonHistoricalSociety&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
