<footer class="absolute bottom-0 flex min-h-12 w-full flex-col justify-center bg-base-100/90">
  <div class="container mx-auto">
    <ul class="flex justify-center gap-2 text-center text-sm text-base-content/70">
      <li>
        <a [routerLink]="['/about/this-site']" class="link link-primary link-hover">
          About <span class="hidden sm:inline">this Site</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/contact']" class="link link-primary link-hover">
          Contact <span class="hidden sm:inline">Us</span>
        </a>
      </li>
      <li>
        <span class="hidden sm:inline">Copyright</span>
        &copy; <time datetime="2011">2011</time>&ndash;<time [attr.datetime]="year">{{year}}</time>
      </li>
      <li>
        <a [routerLink]="['/about/terms-of-service']" class="link link-primary link-hover">
          Terms <span class="hidden sm:inline">of Service</span>
        </a>
      </li>
      <li>
        <a [routerLink]="['/about/privacy-policy']" class="link link-primary link-hover">
          Privacy <span class="hidden sm:inline">Policy</span>
        </a>
      </li>
    </ul>
  </div>
</footer>
