<div class="container">

  <div class="card">
    <div class="card-header">
      <a class="card-link" [routerLink]="['/home']">Home</a>
      <a class="card-link" [routerLink]="['/admin']">Admin</a>
    </div>
    @if (bannersSignal(); as banners) {
      <div class="card-body">
        <h2 class="card-title">Banners</h2>
      </div>
      <li class="list-group list-group-flush">
        @for (banner of banners; track banner.id) {
          <li class="list-group-item">
            <h3>Banner {{ banner.id }}</h3>
            <p>
              <span [class]="'badge text-bg-' + banner.bootstrapAlertType">
                {{ banner.theme }}
              </span>
              <span [class]="'badge text-bg-' + (banner.isEnabled ? 'primary' : 'secondary')">
                {{ banner.isEnabled ? 'Visible' : 'Hidden' }}
              </span>
            </p>
            <h4>Lead</h4>
            <p><strong>{{ banner.lead }}</strong></p>
            <h4>Body</h4>
            <p>{{ banner.body }}</p>
            <h4>History</h4>
            <ul>
              @for (statusChange of banner.statusChanges; track statusChange) {
                <li>
                  <span [class]="'bi bi-'+ (statusChange.isEnabled ? 'calendar-check' : 'calendar-x')"></span>
                  {{ statusChange.isEnabled ? 'Shown' : 'Removed' }}
                  {{ statusChange.dateModified | date:'long' }}
                </li>
              } @empty {
                <li>No history found.</li>
              }
            </ul>
          </li>
        } @empty {
          <li class="list-group-item">No banners found.</li>
        }
      </li>
    } @else {
      <div class="card-body">
        @if (errorSignal(); as error) {
          <p class="text-danger">{{ error }}</p>
        } @else {
          <div class="spinner-grow" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        }
      </div>
    }
  </div>

</div>
