<div class="card bg-base-100">
  <div class="card-body">
    <div class="card-actions">
      <a class="link link-primary" [routerLink]="['/home']">Home</a>
      <a class="link link-primary" [routerLink]="['/admin']">Admin</a>
    </div>
    <h2>Banners</h2>
    @if (bannersSignal(); as banners) {
      <ul>
        @for (banner of banners; track banner.id) {
          <li class="not-last:border-b border-base-300 not-last:mb-4 not-last:pb-4">
            <h3>Banner {{ banner.id }}</h3>
            <p class="flex gap-2">
              <span
                class="badge"
                [class.badge-info]="banner.theme === 'Info' || banner.theme === 'Primary'"
                [class.badge-neutral]="banner.theme === 'Secondary'"
                [class.badge-outline]="banner.theme === 'Info' || banner.theme === 'Secondary'"
                [class.badge-warning]="banner.theme === 'Warning'"
                [class.badge-success]="banner.theme === 'Success'"
                [class.badge-error]="banner.theme === 'Danger'"
              >
                {{ banner.theme }}
              </span>
              <span [class]="`badge text-bg-${banner.isEnabled ? 'primary' : 'secondary'}`">
                {{ banner.isEnabled ? 'Visible' : 'Hidden' }}
              </span>
            </p>
            <h4>Lead</h4>
            <p><strong>{{ banner.lead }}</strong></p>
            <h4>Body</h4>
            <p>{{ banner.body }}</p>
            <h4>History <span class="bi bi-sort-down"></span></h4>
            <ul class="list-disc pl-8">
              @for (statusChange of banner.statusChanges; track statusChange) {
                <li>
                  <span [class]="`bi ${statusChange.isEnabled ? 'bi-calendar-check' : 'bi-calendar-x'}`"></span>
                  {{ statusChange.isEnabled ? 'Shown' : 'Removed' }}
                  {{ statusChange.dateModified | date:'long' }}
                </li>
              } @empty {
                <li>No history found.</li>
              }
            </ul>
          </li>
        } @empty {
          <li>
            <div class="alert alert-info">
              <i class="bi bi-info-circle"></i>
              <p>No banners found.</p>
            </div>
          </li>
        }
      </ul>
    } @else {
      @if (errorSignal(); as error) {
        <div class="alert alert-error" role="alert">
          <i class="bi bi-exclamation-triangle"></i>
          <p>{{ error }}</p>
        </div>
      } @else {
        <div class="loading loading-ring loading-xl" role="status">
          <span class="hidden">Loading...</span>
        </div>
      }
    }
  </div>
</div>
