@keyframes router-load-indicator-animation {
  from {
    opacity: 0.0;
    top: -1rem;
  }
  to {
    opacity: 1.0;
    top: 0rem;
  }
}

.animate-router-load-indicator {
  /* delay animation for fast network connection */
  animation-delay: 100ms;
  animation-duration: 200ms;
  animation-fill-mode: both;
  animation-name: router-load-indicator-animation;
}
