<div class="card bg-base-100 text-center">

  <figure>
    <div class="carousel aspect-video w-full" #carousel>
      <div id="slide1" class="relative carousel-item w-full" #carouselItem>
        <img ngSrc="assets/img/2017/DSCF0001.JPG" alt="" class="object-cover" fill priority>
        <div class="absolute top-1/2 right-5 flex -translate-y-1/2 transform justify-between">
          <button type="button" class="btn btn-secondary" (click)="next()">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
      <div id="slide2" class="relative carousel-item w-full" #carouselItem>
        <img ngSrc="assets/img/2019/aprilpic1.jpg" alt="" class="object-cover" fill>
        <div class="absolute top-1/2 right-5 left-5 flex -translate-y-1/2 transform justify-between">
          <button type="button" class="btn btn-secondary" (click)="prev()">
            <i class="bi bi-chevron-left"></i>
          </button>
          <button type="button" class="btn btn-secondary" (click)="next()">
            <i class="bi bi-chevron-right"></i>
          </button>
        </div>
      </div>
      <div id="slide3" class="relative carousel-item w-full" #carouselItem>
        <img ngSrc="assets/img/2019/picbeltonwinter.jpg" alt="" class="object-cover" fill>
        <div class="absolute top-1/2 left-5 flex -translate-y-1/2 transform justify-between">
          <button type="button" class="btn btn-secondary" (click)="prev()">
            <i class="bi bi-chevron-left"></i>
          </button>
        </div>
      </div>
    </div>
  </figure>

  <div class="card-body">
    <h1>
      The City Hall Museum <small>sponsored by the Belton Historical Society</small>
    </h1>
    <p>
      A non-profit, charitable organization whose purpose is to discover, collect, and research artifacts, documents,
      and material relating to the history of the surrounding community and to record historical information of the
      present.
    </p>
  </div>
</div>
