<div class="card text-center">

  <carousel [isAnimated]="true" [interval]="10000">
    <slide>
      <img class="position-static" ngSrc="assets/img/2017/DSCF0001.JPG" alt="" fill>
    </slide>
    <slide>
      <img class="position-static" ngSrc="assets/img/2019/aprilpic1.jpg" alt="" fill>
    </slide>
    <slide>
      <img class="position-static" ngSrc="assets/img/2019/picbeltonwinter.jpg" alt="" fill>
    </slide>
    <slide>
      <img class="position-static" ngSrc="https://www.belton.org/images/pages/N448/Main%20Street%202.jpg" alt="" fill>
    </slide>
    <slide>
      <img class="position-static" ngSrc="https://www.belton.org/images/pages/N546/Main%20Street%20at%20night.jpg" alt="" fill>
    </slide>
  </carousel>

  <div class="card-body">
    <h1 class="card-title">
      The City Hall Museum <small>sponsored by the Belton Historical Society</small>
    </h1>
    <p>
      A non-profit, charitable organization whose purpose is to discover, collect, and research artifacts, documents,
      and material relating to the history of the surrounding community and to record historical information of the
      present.
    </p>
  </div>
</div>
