<ng-container *ngIf="vm$ | async as vm">

  <div *ngIf="vm.isLoading" class="d-flex justify-content-center">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading photo...</span>
    </div>
  </div>

  <div class="card" *ngIf="vm.album">
    <div class="card-header">
      <div class="text-center row">
        <div class="col-2">
          <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.previousPhotoId]">&laquo; Previous</a>
        </div>
        <div class="col-8">
          Album: <a [routerLink]="['/apps/photos/album', vm.album.slug]">{{vm.album.name}}</a>
          <ng-container *ngIf="vm.album.blogPostSlug">
            <br>
            <a [routerLink]="['/apps/blog/entry', vm.album.blogPostSlug]">Blog Post</a>
          </ng-container>
        </div>
        <div class="col-2">
          <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.nextPhotoId]">Next &raquo;</a>
        </div>
      </div>
    </div>

    <img *ngIf="vm.currentPhoto" [ngSrc]="vm.currentPhoto.imagePath" [title]="vm.currentPhoto.name" class="card-img-top img-fluid" alt="image failed to load" width="100" height="100">

    <div *ngIf="vm.currentPhoto" class="card-body">
      <h2 class="card-title">
        {{vm.currentPhoto.name}}
      </h2>
      <p *ngIf="vm.currentPhoto.description" class="card-text">{{vm.currentPhoto.description}}</p>
    </div>

    <div class="card-footer">
      <div class="text-center row">
        <div class="col-2">
          <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.previousPhotoId]">&laquo; Previous</a>
        </div>
        <div class="col-8">
          <a [routerLink]="['/apps/photos/album', vm.album.slug]">{{vm.album.name}}</a>
        </div>
        <div class="col-2">
          <a class="btn btn-secondary" [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', vm.nextPhotoId]">Next &raquo;</a>
        </div>
      </div>
    </div>
  </div>

  <alert *ngIf="vm.error" type="danger">
    {{vm.error}}
  </alert>

</ng-container>
