.brand,
.address-bar {
  /* hide top matter by default */
  display: none;
}

.navbar {
  /* 1.25 space between navbar and content */
  margin-bottom: 1.25rem;
  /* removed for better dropdown */
  padding: 0.5rem 0;
}

.navbar-brand {
  font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, serif;
  font-weight: 600;
  letter-spacing: 0.125rem;
  white-space: normal;
}

.navbar-header {
  /* space dropdown and brand */
  display: flex;
  justify-content: space-between;
  /* padding was rmvd in .navbar */
  padding: 0 1rem;
  /* fill navbar */
  width: 100%;
}

.navbar-nav {
  letter-spacing: 0.1875rem;
}

/* padding was rmvd in .navbar */
.navbar-nav .nav-link {
  padding: 0.5rem 1rem !important;
}

/* active navbar button */
.active.nav-link,
a:active.nav-link,
.nav-tabs .nav-link.active,
.navbar-light .navbar-nav .nav-link.active {
  background-color: var(--bs-primary);
  color: #fff;
  text-decoration: none;
}

/* mouse pointer over dropdown toggles */
a:not([href]).dropdown-toggle:hover {
  cursor: pointer;
}

/* medium+ screens */
@media screen and (min-width:768px) {
  .brand {
    display: inherit;
    padding-top: 2rem;
    text-align: center;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
    font-family: "Josefin Slab", "Helvetica Neue", Helvetica, Arial, serif;
    font-size: 5rem;
    font-weight: 600;
    color: var(--bs-light);
  }

  .address-bar {
    display: inherit;
    margin: 0;
    padding-bottom: 0.5rem;
    text-align: center;
    text-shadow: 0.0625rem 0.0625rem 0.125rem rgba(0, 0, 0, 0.5);
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.1875rem;
    color: var(--bs-light);
  }

  .address-bar a {
    color: var(--bs-light);
  }

  .navbar {
    padding: 0;
  }

  .navbar-header {
    /* hide header lg+ */
    display: none;
  }

  .bg-light {
    background: rgba(255, 255, 255, 0.9) !important;
  }

  .navbar-collapse {
    /* dropdown not in lg+ */
    padding-bottom: 0;
  }

  .navbar-nav {
    /* centered */
    margin: 0 auto;
    font-size: 1.25rem;
  }

  ul .dropdown-menu {
    /* make dropdown match navbar */
    margin: 0;
    background: rgba(255, 255, 255, 0.9);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .175);
  }
}
