<div class="card">
  <div class="card-body">
    <h1 class="card-title">Photo Albums</h1>
    <p>Photos from the society.</p>
  </div>
</div>

@if (vm$ | async; as vm) {
  @if (vm.isLoading) {
    <div class="d-flex justify-content-center">
      <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading category...</span>
      </div>
    </div>
  }

  @if (vm.error) {
    <alert type="danger">
      {{vm.error}}
    </alert>
  }

  @if (!vm.error && !vm.isLoading) {
    <div class="row">
      @for (album of vm.albums; track album.slug) {
        <div class="col-md-4">
          <div class="card">
            @if (album.bannerPhoto) {
              <img [ngSrc]="album.bannerPhoto.imagePath" class="card-img-top img-fluid" [alt]="album.bannerPhoto.name" width="100" height="100">
            }
            <div class="card-body">
              <h2 class="card-title">
                <a class="stretched-link" [routerLink]="['/apps/photos/album', album.slug]">{{album.name}}</a>
              </h2>
              @if (album.description) {
                <p class="card-subtitle text-muted">{{album.description | snippet}}</p>
              }
            </div>
          </div>
        </div>
      }
    </div>
  }
}
