<div class="card">
  <div class="card-body">
    <form>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Posts" aria-label="Search Posts" name="search" [(ngModel)]="searchText">
        <button type="submit" class="btn btn-secondary" aria-label="Search" (click)="onSearch(searchText)">
          @if (isLoading()) {
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          }
          Search
        </button>
      </div>
    </form>
  </div>
</div>

@if (postsVm$ | async; as postsVm) {
  @if (postsVm.error) {
    <alert type="danger">
      {{postsVm.error}}
    </alert>
  }

  @for (post of postsVm.posts | sortBy: 'desc' : 'datePublished'; track post.slug) {
    <app-post-card [post]="post" [attr.data-testid]="post.slug" />
  }
}
