<div class="card mb-5 bg-base-100">
  <div class="card-body">
    <form>
      <div class="join w-full">
        <input type="text" class="input join-item w-full" placeholder="Search Posts" aria-label="Search Posts" name="search" [(ngModel)]="searchText">
        <button type="submit" class="btn join-item btn-secondary" aria-label="Search" (click)="onSearch(searchText)">
          @if (isLoading()) {
            <span class="loading loading-sm loading-spinner" role="status" aria-hidden="true"></span>
          }
          Search
        </button>
      </div>
    </form>
  </div>
</div>

@if (isLoading()) {
  @for (i of [1, 2, 3]; track i) {
    <div class="card relative mb-5 bg-base-100">
      <div class="absolute inset-0 z-2 flex place-content-center">
        <div class="loading loading-xl loading-spinner"></div>
      </div>
      <div class="card-body">
        <div class="h-10 w-96 skeleton"></div>
        <div class="h-6 w-50 skeleton"></div>
      </div>
      <hr>
      <div class="card-body">
        <div class="h-6 w-full skeleton"></div>
        <div class="h-6 w-1/2 skeleton"></div>
        <div class="h-8 w-32 skeleton"></div>
      </div>
      <hr>
      <div class="card-body">
        <div class="h-6 w-24 skeleton"></div>
      </div>
    </div>
  }
}

@if (postsVm$ | async; as postsVm) {
  @if (postsVm.error) {
    <div class="alert alert-error">
      <p>{{postsVm.error}}</p>
    </div>
  }

  @for (post of postsVm.posts; track post.slug) {
    <app-post-card [post]="post" />
  }
}
