<div class="card">
  <div class="card-body">
    <h1 class="card-title">Leadership</h1>
    <div class="row">

      <div class="col-sm">
        <h2>Officers</h2>
        <dl *ngIf="officers$ | async as officers; else loadingOfficers">
          <ng-template ngFor let-officer [ngForOf]="officers">
            <dt>{{officer.title}}</dt>
            <dd>{{officer.name}}</dd>
          </ng-template>
        </dl>
        <ng-template #loadingOfficers>
          <div *ngIf="!errors.length" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading officers...</span>
          </div>
        </ng-template>
      </div>

      <div class="col-sm">
        <h2>Directors</h2>
        <ul *ngIf="directors$ | async as directors; else loadingDirectors" class="list-unstyled">
          <li *ngFor="let director of directors">
            {{director.name}} ({{director.year}})
          </li>
        </ul>
        <ng-template #loadingDirectors>
          <div *ngIf="!errors.length" class="spinner-grow" role="status">
            <span class="visually-hidden">Loading directors...</span>
          </div>
        </ng-template>
      </div>

      <div *ngFor="let e of errors" class="alert alert-danger" role="alert">
        {{e}}
      </div>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">By-laws</h1>
    <div class="ratio ratio-16x9">
      <iframe src="https://drive.google.com/file/d/11s1RHMoIfVjBQrpAXXn5Qh6ZwH_Bejw_/preview"></iframe>
    </div>
  </div>
</div>
