<header class="mb-5">
  <div
    id="brand"
    class="hidden pt-12 pb-4 text-center font-serif text-7xl text-neutral-content text-shadow-lg/30 md:block"
  >
    The Belton Historical Society
  </div>
  <div
    id="address-bar"
    class="mb-5 hidden text-center text-xl text-neutral-content text-shadow-md/30 md:block"
  >
    <address class="not-italic">
      P.O Box 1144 | Belton, MO 64012 | <a href="tel:+18163223977" class="link">816-322-3977</a>
    </address>
  </div>

  <div class="container mx-auto mb-5 sm:px-20">
    @for (banner of banners$ | async; track banner.id) {
      <!-- eslint-disable better-tailwindcss/no-unknown-classes -- we're using a release candidate -->
      <div
        role="alert"
        class="alert"
        [class.alert-info]="banner.theme === 'Info' || banner.theme === 'Primary'"
        [class.alert-soft]="banner.theme === 'Info' || banner.theme === 'Secondary'"
        [class.alert-warning]="banner.theme === 'Warning'"
        [class.alert-success]="banner.theme === 'Success'"
        [class.alert-error]="banner.theme === 'Danger'"
      >
        <!-- eslint-enable better-tailwindcss/no-unknown-classes -->
        <i class="bi bi-info-circle" aria-hidden="true"></i>
        <div>
          @if (banner.lead) {
            <strong>{{banner.lead}}</strong>
          }
          {{banner.body}}
        </div>
        <button
          type="button"
          class="cursor-pointer"
          aria-label="Close"
          (click)="hideBanner(banner.id)"
        >
          <i class="bi bi-x" aria-hidden="true"></i>
        </button>
      </div>
    }
  </div>

  <nav
    class="flex flex-wrap items-center justify-between bg-base-100 py-2 shadow-md md:py-0"
    data-testid="AppHeader-Navbar"
  >
    <div class="flex w-full items-center justify-between px-4 md:hidden">
      <a
        class="font-serif text-xl font-bold tracking-widest"
        [routerLink]="['/']"
        title="Home"
      >
        The Belton Historical Society
      </a>
      <button
        type="button"
        class="btn btn-square text-3xl btn-ghost"
        aria-controls="navbarSupportedContent"
        [attr.aria-expanded]="!isCollapsed()"
        aria-label="Toggle navigation"
        (click)="toggleNavbar()"
        data-testid="AppHeader-Navbar-ToggleButton"
      >
        <i class="bi bi-list" aria-hidden="true"></i>
      </button>
    </div>
    <div
      id="navbarSupportedContent"
      class="grow basis-full md:flex md:basis-auto"
      [class.hidden]="isCollapsed()"
      data-testid="AppHeader-Navbar-Content"
    >
      <ul class="flex flex-col tracking-widest md:mx-auto md:flex-row">
        <li>
          <a
            class="block cursor-pointer px-4 py-2 transition-colors"
            [routerLink]="['/home']"
            [routerLinkActive]="['bg-primary', 'text-primary-content']"
            [routerLinkActiveOptions]="{ exact: true }"
            data-testid="AppHeader-Navbar-HomeLink"
          >
            Home
          </a>
        </li>
        <li>
          <a
            class="block cursor-pointer px-4 py-2 transition-colors"
            [routerLink]="['/apps/blog']"
            [routerLinkActive]="['bg-primary', 'text-primary-content']"
            data-testid="AppHeader-Navbar-NewsLink"
          >
            News
          </a>
        </li>
        <li>
          <button
            type="button"
            class="block w-full cursor-pointer px-4 py-2 text-left"
            aria-haspopup="true"
            (click)="toggleContentMenu()"
            data-testid="AppHeader-Navbar-ContentMenuButton"
          >
            Content
            <i
              class="bi ml-2"
              [class.bi-chevron-down]="isContentMenuCollapsed()"
              [class.bi-chevron-up]="!isContentMenuCollapsed()"
              aria-hidden="true"
            ></i>
          </button>
          <ul
            class="border-y border-y-neutral bg-base-200 py-2 md:absolute md:z-2 md:rounded-b"
            role="menu"
            [class.hidden]="isContentMenuCollapsed()"
          >
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/apps/photos']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleContentMenu(true)"
                data-testid="AppHeader-Navbar-PhotosLink"
              >
                Photos
              </a>
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/apps/location']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleContentMenu(true)"
                data-testid="AppHeader-Navbar-LocationLink"
              >
                The Museum
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a
            class="block cursor-pointer px-4 py-2 transition-colors"
            [routerLink]="['/contact']"
            [routerLinkActive]="['bg-primary', 'text-primary-content']"
            data-testid="AppHeader-Navbar-ContactLink"
          >
            Contact Us
          </a>
        </li>
        @if (isAuthenticated$ | async) {
          <li>
            <a
              class="block cursor-pointer px-4 py-2 transition-colors"
              [routerLink]="['/admin']"
              [routerLinkActive]="['bg-primary', 'text-primary-content']"
              data-testid="AppHeader-Navbar-AdminLink"
            >
              Admin
            </a>
          </li>
        }
        <li class="">
          <button
            type="button"
            class="block w-full cursor-pointer px-4 py-2 text-left transition-colors"
            aria-haspopup="true"
            (click)="toggleAboutMenu()"
            data-testid="AppHeader-Navbar-AboutMenuButton"
          >
            About
            <i
              class="bi ml-2"
              [class.bi-chevron-down]="isAboutMenuCollapsed()"
              [class.bi-chevron-up]="!isAboutMenuCollapsed()"
              aria-hidden="true"
            ></i>
          </button>
          <ul
            class="border-y border-y-neutral bg-base-200 py-2 md:absolute md:z-2 md:rounded-b"
            role="menu"
            [class.hidden]="isAboutMenuCollapsed()"
          >
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/who-we-are']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-WhoWeAreLink"
              >
                Who We Are
              </a>
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/by-laws-and-leadership']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-ByLawsAndLeadershipLink"
              >
                By-laws and Leadership
              </a>
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/donate']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-DonateLink"
              >
                Donate
              </a>
            </li>
            <li>
              <hr role="separator" class="my-2 text-neutral">
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/this-site']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-AboutThisSiteLink"
              >
                About this Site
              </a>
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/terms-of-service']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-TermsOfServiceLink"
              >
                Terms of Service
              </a>
            </li>
            <li>
              <a
                class="block cursor-pointer px-4 py-2 transition-colors"
                [routerLink]="['/about/privacy-policy']"
                [routerLinkActive]="['bg-primary', 'text-primary-content']"
                (click)="toggleAboutMenu(true)"
                data-testid="AppHeader-Navbar-PrivacyPolicyLink"
              >
                Privacy Policy
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</header>
