<div class="card">
    <h1 class="card-header">Donations</h1>
    <div class="card-body">
        <p>
            Donations to the museum are tax-deductible and are welcome in any amount.  For those wishing to make a special gift or establish a memorial, an Endowment Fund is available.  Income from this fund will be used to provide for the perpetual care of our projects for future generations.
        </p>
        <p>
            For additional information <a href="tel:+18163223977">call the museum</a> at 816-322-3977.
        </p>
    </div>
</div>