<div class="card" *ngIf="category">
  <div class="card-body">
    <h1 class="card-title">{{category.name}}</h1>
  </div>
</div>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading category...</span>
  </div>
</div>

<div *ngIf="category">
  <app-post-card [post]="post" *ngFor="let post of category.posts"></app-post-card>
</div>

<div class="alert alert-danger" *ngIf="error">
  {{error}}
</div>
