<div class="card">
  <div class="card-body">
    <h1 class="card-title">Members</h1>
    <p>
      If you're interested in joining the Belton Historical Society,
      fill out <a href="/assets/pdf/belton-historical-society-application.pdf">this form</a>
      and mail it to the provided address.
    </p>
  </div>
</div>

<ng-container *ngIf="vm$ | async as vm; else loadingMembers">

  <div class="row">
    <div class="col-md-4" *ngFor="let author of vm.authors">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">
            <a [routerLink]="['/apps/profile', author.username]">{{author.name}}</a>
          </h2>
          <p>{{author.name}}</p>
        </div>
      </div>
    </div>
  </div>

  <alert *ngIf="vm.error" type="danger">
    {{vm.error}}
  </alert>

</ng-container>

<ng-template #loadingMembers>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-light" role="status">
      <span class="visually-hidden">Loading members...</span>
    </div>
  </div>
</ng-template>
