<div class="card mb-5 bg-base-100">
  <div class="card-body">
    <h1>Leadership</h1>
    @if (vm$ | async; as vm) {
      @if (vm.error) {
        <div role="alert" class="mb-5 alert alert-soft alert-error">
          {{vm.error}}
        </div>
      }
      <div class="flex flex-wrap">

        <div class="flex-1">
          <h2>Officers</h2>

          @if (vm.isLoading) {
            <div class="loading loading-ring" role="status">
              <span class="hidden">Loading...</span>
            </div>
          }

          <dl>
            @for (officer of vm.officers; track officer) {
              <dt class="font-bold">{{officer.title}}</dt>
              <dd [title]="officer.dateStarted | date:'\'since\' yyyy'" class="mb-2">{{officer.name}}</dd>
            }
          </dl>
        </div>

        <div class="flex-1">
          <h2>Directors</h2>

          @if (vm.isLoading) {
            <div class="loading loading-ring" role="status">
              <span class="hidden">Loading...</span>
            </div>
          }

          <ul>
            @for (director of vm.directors; track director) {
              <li>
                {{director.name}} ({{director.year}})
              </li>
            }
          </ul>
        </div>

      </div>
    }
  </div>
</div>

<div class="card bg-base-100">
  <div class="card-body">
    <h1>By-laws</h1>
    <div class="aspect-video">
      <iframe class="size-full" src="https://drive.google.com/file/d/11s1RHMoIfVjBQrpAXXn5Qh6ZwH_Bejw_/preview"></iframe>
    </div>
  </div>
</div>
