<div class="card">
  <div class="card-body">
    <h1 class="card-title">Leadership</h1>
    @if (vm$ | async; as vm) {
      <div class="row">

        <div class="col-sm">
          <h2>Officers</h2>

          @if (vm.isLoading) {
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }

          <dl>
            @for (officer of vm.officers; track officer) {
              <dt>{{officer.title}}</dt>
              <dd [title]="officer.dateStarted | date:'\'since\' yyyy'">{{officer.name}}</dd>
            }
          </dl>
        </div>

        <div class="col-sm">
          <h2>Directors</h2>

          @if (vm.isLoading) {
            <div class="spinner-grow" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          }

          <ul class="list-unstyled">
            @for (director of vm.directors; track director) {
              <li>
                {{director.name}} ({{director.year}})
              </li>
            }
          </ul>
        </div>

        @if (vm.error) {
          <alert type="danger">
            {{vm.error}}
          </alert>
        }

      </div>
    }
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">By-laws</h1>
    <div class="ratio ratio-16x9">
      <iframe src="https://drive.google.com/file/d/11s1RHMoIfVjBQrpAXXn5Qh6ZwH_Bejw_/preview"></iframe>
    </div>
  </div>
</div>
