@if (vm$ | async; as vm) {
  @if (vm.isLoading) {
    <div class="card bg-base-100">
      <div class="card-body skeleton" role="status">
        <span class="hidden">Loading album...</span>
      </div>
    </div>
  }

  @if (vm.error) {
    <div class="alert alert-error" role="alert">
      {{vm.error}}
    </div>
  }

  @if (vm.album) {
    <div class="card bg-base-100 mb-5">
      <div class="card-body">
        <h1>
          {{vm.album.name}}
        </h1>
        @if (vm.album.author?.name) {
          <p class="opacity-70">Provided by {{vm.album.author?.name}}</p>
        }
        <p>{{vm.album.description}}</p>
        @if (vm.album.blogPostSlug) {
          <p>
            <a class="link link-primary" [routerLink]="['/apps/blog/entry', vm.album.blogPostSlug]">This album has a linked blog post.</a>
          </p>
        }
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-4 gap-5">
      @for (photo of vm.album.photos; track photo.id) {
        <div class="card bg-base-100 relative aspect-square" [class.image-full]="photo.description">
          <figure>
            <img [ngSrc]="photo.imagePath" alt="image could not load" class="rounded object-cover" fill>
          </figure>
          <div class="card-body">
            <h2>
              <a
                [routerLink]="['/apps/photos/album', vm.album.slug, 'photo', photo.id]"
                class="link link-primary after:absolute after:inset-0 after:z-2"
              >
                {{photo.name}}
              </a>
            </h2>
            @if (photo.description) {
              <p class="opacity-70">{{photo.description | snippet}}</p>
            }
          </div>
        </div>
      }
    </div>
  }
}
