@if (vm$ | async; as vm) {
    @if (vm.isLoading) {
      <div class="card bg-base-100">
        <div class="card-body skeleton" role="status">
          <span class="hidden">Loading profile...</span>
        </div>
      </div>
    }

    @if (vm.error) {
      <div class="alert alert-error" role="alert">
        {{vm.error}}
      </div>
    }

    @if (vm.author) {
      <div class="card bg-base-100 mb-5">
        <div class="card-body">
          <h1>
            {{vm.author.name}}
          </h1>
          <p>Username: <code>{{vm.author.username}}</code></p>
          <h2>Blog posts by this user</h2>
        </div>
      </div>
    }

    @for (post of vm.posts; track post.slug) {
      <app-post-card [post]="post" />
    }
}
