@if (!isLoading()) {
  <div class="w-full" data-testid="categories-list-view">
    @if (error()) {
      <div class="alert rounded-t-none alert-error" role="alert">
        {{error()}}
      </div>
    }

    @for (category of categories(); track category.slug) {
      <hr class="text-neutral">
      <a
        [routerLink]="['/apps/blog/category', category.slug]"
        class="btn flex items-center justify-between rounded-none btn-ghost btn-secondary"
        [class.rounded-b]="$last"
      >
        {{category.name}}
        <span
          class="badge rounded badge-primary"
        >
          {{category.postsCount}}
        </span>
      </a>
    }
  </div>
} @else {
  <div class="w-full">
    <div class="m-4 flex items-center justify-between">
      <div class="h-4 w-9/12 skeleton"></div>
      <div class="h-4 w-1/12 skeleton"></div>
    </div>
    <div class="m-4 flex items-center justify-between">
      <div class="h-4 w-5/12 skeleton"></div>
      <div class="h-4 w-1/12 skeleton"></div>
    </div>
    <div class="m-4 flex items-center justify-between">
      <div class="h-4 w-9/12 skeleton"></div>
      <div class="h-4 w-1/12 skeleton"></div>
    </div>
  </div>
}
