@if (!isLoading()) {
  <div class="w-full" data-testid="categories-list-view">
    @if (error()) {
      <div class="alert alert-error rounded-t-none" role="alert">
        {{error()}}
      </div>
    }

    @for (category of categories(); track category.slug) {
      <hr class="text-neutral">
      <a
        [routerLink]="['/apps/blog/category', category.slug]"
        class="btn btn-secondary btn-ghost flex justify-between items-center rounded-none"
        [class.rounded-b]="$last"
      >
        {{category.name}}
        <span
          class="badge badge-primary rounded"
        >
          {{category.postsCount}}
        </span>
      </a>
    }
  </div>
} @else {
  <div class="w-full">
    <div class="m-4 flex justify-between items-center">
      <div class="skeleton w-9/12 h-4"></div>
      <div class="skeleton w-1/12 h-4"></div>
    </div>
    <div class="m-4 flex justify-between items-center">
      <div class="skeleton w-5/12 h-4"></div>
      <div class="skeleton w-1/12 h-4"></div>
    </div>
    <div class="m-4 flex justify-between items-center">
      <div class="skeleton w-9/12 h-4"></div>
      <div class="skeleton w-1/12 h-4"></div>
    </div>
  </div>
}
