<div class="card">
    <h1 class="card-header">Leadership</h1>
    <div class="card-body">
        <div class="row">
            <div class="col-sm">
                <h2>Officers</h2>
                <dl class="dl-horizontal">
                    <dt>President</dt>
                    <dd>Robert Powell</dd>
                    
                    <dt>First Vice President</dt>
                    <dd>Ed Maurer</dd>
                    
                    <dt>Second Vice President</dt>
                    <dd>Pam Powell</dd>
                    
                    <dt>Recording Secretary</dt>
                    <dd>Sally Smith</dd>
                    
                    <dt>Treasurer</dt>
                    <dd>Janna Dillon</dd>
                    
                    <dt>Corresponding Secretary</dt>
                    <dd>Elaine Wilson</dd>

                    <dt>Membership Secretary</dt>
                    <dd>Evelyn Tabor</dd>
                </dl>
            </div>
            <div class="col-sm">
                <h2>Directors</h2>
                <ul class="list-unstyled">
                    <li>Jacquie Jackson (2019)</li>
                    <li>Debbie Maurer (2019)</li>
                    <li>Karen Calvert (2019)</li>
                    <li>Renee Kerckhoff (2020)</li>
                    <li>Jackie Kreisel (2020)</li>
                    <li>Bill Brady (2020)</li>
                    <li>Jared Rinck (2021)</li>
                    <li>Charlotte Bradley (2021)</li>
                    <li>Joe Robertson (2021)</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <h1 class="card-header">By-laws</h1>
    <div class="card-body">
        <iframe src="https://drive.google.com/file/d/11s1RHMoIfVjBQrpAXXn5Qh6ZwH_Bejw_/preview" width="640" height="800"></iframe>
    </div>
</div>