<div class="alert alert-danger" *ngFor="let e of errors">
  {{e}}
</div>

<div class="card" *ngIf="album">
  <div class="card-body">
    <h1 class="card-title">
      {{album.name}}
    </h1>
    <p class="card-subtitle text-muted" *ngIf="album.author">Provided by {{album.author.displayName}}</p>
    <p>{{album.description}}</p>
    <p *ngIf="album.blogPostSlug">
      <a [routerLink]="['/apps/blog/entry', album.blogPostSlug]">This album has a linked blog post.</a>
    </p>
  </div>
</div>

<div class="row" *ngIf="album">
  <div class="col-md-6 col-lg-3" *ngFor="let photo of album.photos">
    <div class="card">
      <img src="{{photo.imagePath}}" class="card-img-top" alt="image could not load">
      <div class="card-body">
        <h2 class="card-title">
          <a [routerLink]="['/apps/photos/album', album.slug, 'photo', photo.id]" class="stretched-link">
            {{photo.name ?? photo.id}}
          </a>
        </h2>
        <p class="card-subtitle text-muted" *ngIf="photo.description">{{photo.description | snippet}}</p>
      </div>
    </div>
  </div>
</div>
