<div class="card">
  <div class="card-body">
    <h1 class="card-title">Who We Are <small>Belton Historical Society</small></h1>
    <p>
      On the land now bustling with new commercial and residential development, tall prairie grasses once grew. Settlers
      from states such as Kentucky, Virginia, Tennessee, Pennsylvania, Illinois and Ohio came and staked claims to
      virgin land and established farms and ranches. Here too, the Bushwhackers of Missouri and the Jayhawks of Kansas
      engaged in ruthless border warfare. During the Civil War, Union Army soldiers burned, pillaged, and ransacked the
      homes and land in the counties adjacent to the Missouri-Kansas border following General Thomas Ewing's infamous
      Order #11 in 1863.
    </p>
    <p>
      In this historic area is the city of Belton, Missouri, located just 17 miles south of Kansas City. The railroads
      played an important part of its development and the town was laid out in 1871 by George Washington Scott and
      William H. Colbern. Scott, a former Confederate officer, made his home here and is considered the "Father of
      Belton."
    </p>
    <p>
      The museum, which opened in 1981, is located in Belton's original City Hall, built in 1906 for $7,500. When a new
      City Hall was built in 1972, the old building was saved from demolition through efforts of interested residents
      affiliated with several organizations within the city.
    </p>
    <p>
      The original City Hall building has served a number of purposes during its first 100 years. Although the stone
      above the entrance is inscribed "City Hall," it was not until 1940 that city offices were located there. Its stage
      was the setting for graduations, school plays, declamatory contests and musicales. Its slanted floor was used for
      many years for high school and town team basketball games. It was also the community movie house.
    </p>
    <p>
      During the depths of the Depression, it became the home of the Grace Company. Grace Van Brunt, granddaughter of
      George Scott, was asked by the Belton Chamber of Commerce to bring her young company to Belton from Kansas City
      and was given the use of the building for her factory. She promised to hire as many local residents as possible,
      most were women, and the company is credited with providing and economic boost to the community. It went on to
      become internationally famous for its designer fashions for youngsters before closing its doors in 1993.
    </p>
    <p>
      As the number of people on the city's payroll grew, the building housed offices and also the Belton Library. As
      community growth continued, the library was moved, city offices expanded and for several years the building housed
      the police and fire departments.
    </p>
    <hr>
    <p>
      By means of photographic reproductions, memorabilia and story line, the museum presents a look at the rich history
      of Belton and the surrounding area. Included are exhibits centered around three nationally well-known
      personalities with ties to Belton.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Harry S. Truman <small>33<sup>rd</sup> President of the United States, 1884&ndash;1972</small></h1>
    <p>
      The former President lived for a short time as a child on a farm four and one-half miles southeast of Belton. His
      brother, Vivian, was born there in 1886. The morticed and pegged beams which frame the museum foyer were a part of
      the barn on the property.
    </p>
    <p>
      It is however, Truman's Masonic association with Belton that is more well known. He petitioned for membership in
      Belton Lodge #450 in 1908 and was raised to Sublime Degree of Master Mason in 1909. The small altar on display in
      the Truman exhibit is believed to be the one used at his initiation. He took part in the present Belton Masonic
      Lodge building groundbreaking and dedication in 1963 and 1964 respectively. Included in the museum display is a
      presidential plaque donated by a member of the Truman family.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">
      Dale Carnegie
      <small>Author of <cite>How to Win Friends and Influence People</cite>, 1888&ndash;1955</small>
    </h1>
    <p>
      Although Carnegie never lived in Belton, he called it his hometown and is buried, as are his parents, in the
      Belton Cemetery.
    </p>
    <p>
      His parents, J.W. and Elizabeth A. Carnegy (Carnegie changed the spelling of his name because so many people
      misspelled it) bought a farm in Belton 1910 and Carnegie was a frequent visitor. He supplied the local newspaper
      with a series of his syndicated articles and made several personal appearances to benefit local groups. Museum
      visitors can listen to tapes of original radio broadcasts of his "Five Minute Biographies."
    </p>
    <p>
      Carnegie's widow, Dorothy Carnegie; the Dale Carnegie Institute; and Dale Carnegie associates throughout the world
      contributed financially to the restoration of the building as well as for the oak display case featuring Carnegie
      memorabilia. A great deal of the display material was donated by Mrs. Carnegie and others associated with various
      Carnegie groups.
    </p>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h1 class="card-title">Carry A. Nation <small>Ax-wielding Temperance Leader, 1846&ndash;1911</small></h1>
    <p>
      When Carry A. Nation started swinging her hatchet across the plains of Kansas, the anti-saloon movement was a mere
      weakling. She transformed it into a militant giant that eventually put the 18th Amendment into the Constitution.
      From about 1901 until her death in 1911, she carried her rock-throwing, ax-wielding, Bible-reading crusade against
      alcohol into 48 states and England, Scotland and Mexico.
    </p>
    <p>
      It was her wish to be buried in Belton next to her parents. In 1924 Belton members of the Women's Christian
      Temperance Union raised $500 to erect the stone monument which is there today. The inscription reads "Faithful to
      the Cause of Prohibition, She Hath Done What She Could." The original wooden marker is on display in the museum.
      In 1991, the Historical Society purchased an elegant horse-drawn hearse believed to have brought Carry's body to
      her final resting place. It is on display in the custom Carriage House next to the museum.
    </p>
  </div>
</div>
