@if (vm$ | async; as vm) {
  @if (vm.error) {
    <div class="card bg-warning">
      <div class="card-body">
        <h1>An error occurred</h1>
        <p>
          {{vm.error}}
        </p>
      </div>
    </div>
  }

  @if (vm.isLoading) {
    <div class="card bg-base-100">
      <div class="card-body skeleton" role="status">
        <span class="hidden">Loading post...</span>
      </div>
    </div>
  }

  @if (vm.post) {
    <div class="card bg-base-100">
      <div class="card-body">
        <h1>{{vm.post.title}}</h1>
        <p class="opacity-70">
          Posted
          @if (vm.post.author) {
            <span>
              by
              <a class="link link-primary" [routerLink]="['/apps/profile', vm.post.author.username]">{{vm.post.author.name}}</a>
            </span>
          }
          on
          <app-date [datetime]="vm.post.datePublished" />
        </p>
      </div>
      <hr>
      <div class="card-body">

        <app-markdown [data]="vm.post.contentMarkdown" />
      </div>

      @if (vm.postAlbum) {
        <hr>
        <div class="card-body">
          <app-entry-album [album]="vm.postAlbum" />
        </div>
      }

      @if (vm.showEdit) {
        <hr>
        <div class="card-body">
          <p class="text-sm">
            <a class="link link-primary" [routerLink]="['/apps/blog/edit', vm.post.slug]">Edit this post</a>
          </p>
        </div>
      }

      <hr>
      <div class="card-body">
        <p>
          Categories:
          @for (cat of vm.post.categories; track cat.slug) {
            <a [routerLink]="['/apps/blog/category', cat.slug]"
              class="btn btn-outline btn-secondary btn-sm me-2">
              {{cat.name}}
            </a>
          }
        </p>
      </div>
    </div>
    <app-json-ld-blog-posting [post]="vm.post" />
  }
}
