<div class="card">
  <div class="card-body">
    <h1 class="card-title">About this Site</h1>
    <p>
      Created by a now-graduated Belton High School student, this site was built in July of 2011 using Freewebs.
      It was rebuilt with Bootstrap/PHP/MariaDB in the Summer of 2017.
      It was again rebuilt with Angular/ASP.NET Core/SQL Server in 2020&ndash;2021.
    </p>
    <p>
      The webmaster can be contacted at the following email:
    </p>
    <address>
      <img src="/assets/img/2021/email-address.png" alt="email not available" class="img-fluid">
    </address>
  </div>
</div>
