@if (vm$ | async; as vm) {
  @if (vm.isLoading) {
    <div class="card bg-base-100">
      <div class="card-body skeleton" role="status">
        <span class="hidden">Loading category...</span>
      </div>
    </div>
  }

  @if (vm.error) {
    <div class="alert alert-error" role="alert">
      {{vm.error}}
    </div>
  }

  @if (vm.category) {
    <div class="card bg-base-100 mb-5">
      <div class="card-body">
        <h1>{{vm.category.name}}</h1>
      </div>
    </div>

    <div>
      @for (post of vm.category.posts; track post.slug) {
        <app-post-card [post]="post" />
      }
    </div>
  }
}
