@if (vm$ | async; as vm) {
  @if (vm.isLoading) {
    <div class="d-flex justify-content-center">
      <div class="spinner-grow text-light" role="status">
        <span class="visually-hidden">Loading category...</span>
      </div>
    </div>
  }

  @if (vm.error) {
    <alert type="danger">
      {{vm.error}}
    </alert>
  }

  @if (vm.category) {
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">{{vm.category.name}}</h1>
      </div>
    </div>

    <div>
      @for (post of vm.category.posts; track post.slug) {
        <app-post-card [post]="post" />
      }
    </div>
  }
}
