<ng-container *ngIf="category$ | async as category">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">{{category.name}}</h1>
    </div>
  </div>

  <div>
    <app-post-card [post]="post" *ngFor="let post of category.posts"></app-post-card>
  </div>
</ng-container>

<div *ngIf="isLoading" class="d-flex justify-content-center">
  <div class="spinner-grow text-light" role="status">
    <span class="visually-hidden">Loading category...</span>
  </div>
</div>

<div *ngIf="error" class="alert alert-danger">
  {{error}}
</div>
