<form [formGroup]="editFormGroup" (submit)="onSubmit()" class="flex flex-col gap-3">

  <fieldset class="fieldset">
    <label for="inputTitle" class="fieldset-legend">Title</label>
    <input type="text" class="input" id="inputTitle" placeholder="Title" name="title" formControlName="title">
  </fieldset>

  <fieldset class="fieldset">
    <label for="inputCategories" class="fieldset-legend">Categories</label>
    <div class="w-80 rounded outline outline-base-content/20">
      <select multiple class="w-full" id="inputCategories" name="categories" formControlName="categories">
        @for (c of allCategories(); track c.slug) {
          <option class="p-1" [ngValue]="c.slug">{{c.name}}</option>
        }
      </select>
    </div>
    <span class="label">
      <kbd class="kbd">{{isMacOS ? '⌘' : 'Ctrl'}}</kbd>
      +
      <kbd class="kbd">Click</kbd>
      to select multiple
    </span>
  </fieldset>

  <fieldset class="fieldset">
    <label for="inputPublishDate" class="fieldset-legend">Time</label>
    <input
      type="datetime-local"
      class="input"
      id="inputPublishDate"
      name="publishDate"
      formControlName="publishDate"
    >
  </fieldset>

  <fieldset class="fieldset">
    <label for="inputContentMarkdown" class="fieldset-legend">Markdown</label>
    <div class="flex max-h-[80vh] gap-5">
      <textarea
        class="textarea flex-1 resize-none font-mono"
        rows="10"
        placeholder="Content Markdown"
        id="inputContentMarkdown"
        name="contentMarkdown"
        formControlName="contentMarkdown"
        #scrollable
      ></textarea>
      <app-markdown
        [data]="contentSignal()"
        class="flex-1 overflow-auto rounded p-3 outline outline-base-content/20"
        #scrollable
      />
    </div>
  </fieldset>

  <div class="flex gap-2">
    <button type="submit" class="btn btn-primary">Publish</button>
    <a class="btn btn-error" role="link" [routerLink]="cancelRoute()">Cancel</a>
  </div>

  @if (authorWarning()) {
    <div class="alert alert-outline alert-error">
      {{authorWarning()}}
    </div>
  }

</form>
