<div class="card">
  <div class="card-body">
    <h1 class="card-title">Members</h1>
    <p>
      If you're interested in joining the Belton Historical Society,
      fill out <a href="/assets/pdf/belton-historical-society-application.pdf">this form</a>
      and mail it to the provided address.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4" *ngFor="let author of authors">
    <div class="card">
      <div class="card-body">
        <h2 class="card-title">
          <a [routerLink]="['/apps/profile', author.displayName]">{{author.displayName}}</a>
        </h2>
        <p>{{author.name}}</p>
      </div>
    </div>
  </div>
</div>
