<div class="row">
  <div class="col-lg">
    <app-contact-form></app-contact-form>
  </div>
  <div class="col-lg">
    <div class="card">
      <div class="card-body">
        <h1 class="card-title">Visit us on Facebook!</h1>
        <div class="ratio" style="height: 500px; width:340px;">
          <iframe
            src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FBeltonHistoricalSociety&tabs=timeline&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=false&appId"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
