<div class="card bg-base-100">
  <div class="card-body">
    <h1>Donations</h1>
    <p>
      Donations to the museum are tax-deductible and are welcome in any amount. For those wishing to make a special gift
      or establish a memorial, an Endowment Fund is available. Income from this fund will be used to provide for the
      perpetual care of our projects for future generations.
    </p>
    <p>
      For additional information <a href="tel:+18163223977" class="link link-primary">call the museum</a> at 816-322-3977.
    </p>
  </div>
</div>
