<div class="card">
  <div class="card-header">
    <div class="text-center row">
      <div class="col-2">
        <a class="btn btn-secondary">prev photo</a>
      </div>
      <div class="col-8">
        album link
      </div>
      <div class="col-2">
        <a class="btn btn-secondary">next photo</a>
      </div>
    </div>
  </div>

  <img *ngIf="photo" src="{{photo.imagePath}}" class="card-img-top" alt="image could not load">

  <div class="card-body">
    <h1 class="card-title">
      photo name
    </h1>
    <p class="card-subtitle">photo details</p>
  </div>

  <div class="card-footer">
    <div class="text-center row">
      <div class="col-2">
        <a class="btn btn-secondary">prev photo</a>
      </div>
      <div class="col-8">
        album link
      </div>
      <div class="col-2">
        <a class="btn btn-secondary">next photo</a>
      </div>
    </div>
  </div>
</div>
