name: Angular PR

on:
  workflow_dispatch: {}
  pull_request:
    branches:
    - main
    paths:
    - src/bhs-web-angular-app/**
    - yarn.lock

defaults:
  run:
    working-directory: ./src/bhs-web-angular-app

jobs:
  build-and-test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - run: corepack enable
    - name: Setup Node.js
      uses: actions/setup-node@v6
      with:
        node-version: '24'
        
    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - run: yarn workspaces focus bhs-generated-models
    - run: yarn codegen

    - run: yarn workspaces focus bhs-web-angular-app
    - run: yarn lint
    - run: yarn build
    - run: yarn test-ci
