name: .NET PR

on:
  workflow_dispatch: {}
  pull_request:
    branches:
    - main
    paths:
    - BHS.slnx
    - src/**
    - '!src/bhs-web-angular-app/**'
    - tests/**

jobs:
  build-and-test:
    strategy:
      matrix:
        runs-on: 
          - macOS-latest
          - ubuntu-22.04 # EphemeralMongo currently breaks on ubuntu-latest (v24) per asimmon/ephemeral-mongo#57
          - windows-latest

    name: ${{ matrix.runs-on }}
    runs-on: ${{ matrix.runs-on }}

    steps:
    - uses: actions/checkout@v6
    - name: Setup dotnet
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - run: dotnet restore
    - name: Run dotnet build
      run: dotnet build --no-restore --configuration Release
    - name: Run dotnet test
      run: dotnet test --no-build --configuration Release --verbosity normal --collect:"XPlat Code Coverage" --results-directory ./coverage
    - name: Code Coverage
      uses: irongut/CodeCoverageSummary@v1.3.0
      if: runner.os == 'Linux'
      with:
        filename: coverage/**/coverage.cobertura.xml
