name: E2E Tests

on:
  workflow_dispatch:
    inputs:
      environment:
        description: The GitHub Actions environment of the subject under test.
        required: false
        type: choice
        options:
        - staging
        - production
        default: staging
      smoke:
        description: Only run smoke tests.
        required: false
        type: boolean
        default: false
      bail:
        description: Bail on first test failure.
        required: false
        type: boolean
        default: false
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      smoke:
        required: false
        type: boolean
      bail:
        required: false
        type: boolean
    secrets:
      CYPRESS_AUTH0_TEST_PASSWORD:
        required: true

env:
  E2E_DIRECTORY: ./src/bhs-e2e
  NODE_VERSION: '24'

jobs:
  e2e:
    runs-on: ubuntu-latest
    environment: ${{ inputs.environment }}

    steps:

    - uses: actions/checkout@v6

    - run: corepack enable
    - name: Setup Node.js with caching
      uses: actions/setup-node@v6
      with:
        node-version: ${{ env.NODE_VERSION }}
        cache: yarn

    - uses: actions/setup-dotnet@v5
      with:
        dotnet-version: '10.0.x'
    - run: yarn workspaces focus bhs-generated-models
    - run: yarn codegen

    - run: yarn workspaces focus bhs-e2e
      working-directory: ${{ env.E2E_DIRECTORY }}

    # Run smoke first to wait for site startup.
    - name: Run Smoke E2E
      run: yarn e2e --baseUrl=${{ vars.CYPRESS_BASE_URL }} --spec=liveness ${{ inputs.smoke != true && '--reporters=spec' || '' }}
      working-directory: ${{ env.E2E_DIRECTORY }}
      env:
        E2E_auth0Domain: ${{ vars.CYPRESS_AUTH0_DOMAIN }}
        E2E_auth0ClientId: ${{ vars.CYPRESS_AUTH0_CLIENT_ID }}
        E2E_auth0TestUsername: ${{ vars.CYPRESS_AUTH0_TEST_USERNAME }}
        E2E_auth0TestPassword: ${{ secrets.CYPRESS_AUTH0_TEST_PASSWORD }}

    # Run full E2E unless smoke-only is specified.
    - name: Run Full E2E
      if: ${{ inputs.smoke != true }}
      run: yarn e2e --baseUrl=${{ vars.CYPRESS_BASE_URL }}
      working-directory: ${{ env.E2E_DIRECTORY }}
      env:
        E2E_auth0Domain: ${{ vars.CYPRESS_AUTH0_DOMAIN }}
        E2E_auth0ClientId: ${{ vars.CYPRESS_AUTH0_CLIENT_ID }}
        E2E_auth0TestUsername: ${{ vars.CYPRESS_AUTH0_TEST_USERNAME }}
        E2E_auth0TestPassword: ${{ secrets.CYPRESS_AUTH0_TEST_PASSWORD }}
        BAIL_COUNT: ${{ inputs.bail && '1' || '0' }}

    # TODO: consider adding wdio video reporter and capture here. Leftover cypress commented out.
    # - uses: actions/upload-artifact@v4
    #   if: failure()
    #   with:
    #     name: cypress-screenshots-${{ inputs.environment }}
    #     path: ${{ env.CLIENTAPP_DIRECTORY }}/cypress/screenshots
    #     retention-days: 7

    # - uses: actions/upload-artifact@v4
    #   if: always()
    #   with:
    #     name: cypress-videos-${{ inputs.environment }}
    #     path: ${{ env.CLIENTAPP_DIRECTORY }}/cypress/videos
    #     retention-days: 7
