<div class="container">
  <div class="card">
    <div class="card-body">

      <h1>Admin</h1>

      <h2>User</h2>
      @if (user$ | async; as user) {
        <pre>{{user | json}}</pre>
      }

      <h2>Access Token</h2>
      @if (accessToken$ | async; as accessToken) {
        <pre>{{accessToken | json}}</pre>
      }

      <h2>Actions</h2>
      <a [routerLink]="['/home']">Home</a>

      <button type="button" class="btn btn-secondary" (click)="handleLogout()">Log out</button>

      <a [routerLink]="['/apps/blog/new']">New Blog Post</a>
      <a [routerLink]="['/admin/banners']">Banners</a>

    </div>
  </div>
</div>
